In [1]:
import pandas as pd

In [27]:
#creating a folder data
data = pd.DataFrame({
    'CustomerID' : [15745663, 15734523, 15698723,13245689,9087809876,15745662],
    'AnnualIncome' : [55000 ,68000, 45000,78908,89076,4567890],
    'Expenses' : [677890,98776,34567,98760,4567,987654]
})

In [28]:
#creating DataFrame called Cusotmer_Income
customer_income = pd.DataFrame({
    'CustomerID' : [15745662, 15734523, 15698723],
    'AnnualIncome' : [55000 ,68000, 45000]
})

In [29]:
#Merging DataFrame Using Merge() Function
#By Default, It Perfom Inner Join
merged_data = pd.merge(data, customer_income, on = 'CustomerID')

In [30]:
merged_data

   CustomerID  AnnualIncome_x  Expenses  AnnualIncome_y
0    15734523           68000     98776           68000
1    15698723           45000     34567           45000
2    15745662         4567890    987654           55000

You can specify the type of join by using the how parameter:

 ●       'left': Use keys from the left DataFrame only
 
 ●       'right': Use keys from the right DataFrame only
 
 ●       'outer': Use keys from both DataFrames
 
 ●       'inner': Use intersection of keys from both DataFrames (default)

In [31]:
merged_data1 = pd.merge(data, customer_income, on = 'CustomerID',how = 'left')
merged_data1

   CustomerID  AnnualIncome_x  Expenses  AnnualIncome_y
0    15745663           55000    677890             NaN
1    15734523           68000     98776         68000.0
2    15698723           45000     34567         45000.0
3    13245689           78908     98760             NaN
4  9087809876           89076      4567             NaN
5    15745662         4567890    987654         55000.0

In [32]:
merged_data2 = pd.merge(data, customer_income, on = 'CustomerID',how = 'right')
merged_data2

   CustomerID  AnnualIncome_x  Expenses  AnnualIncome_y
0    15745662         4567890    987654           55000
1    15734523           68000     98776           68000
2    15698723           45000     34567           45000

In [33]:
merged_data3 = pd.merge(data, customer_income, on = 'CustomerID',how = 'outer')
merged_data3

   CustomerID  AnnualIncome_x  Expenses  AnnualIncome_y
0    15745663           55000    677890             NaN
1    15734523           68000     98776         68000.0
2    15698723           45000     34567         45000.0
3    13245689           78908     98760             NaN
4  9087809876           89076      4567             NaN
5    15745662         4567890    987654         55000.0

In [34]:
merged_data4 = pd.merge(data, customer_income, on = 'CustomerID',how = 'inner')
merged_data4

   CustomerID  AnnualIncome_x  Expenses  AnnualIncome_y
0    15734523           68000     98776           68000
1    15698723           45000     34567           45000
2    15745662         4567890    987654           55000

 **Joining DataFrames using join() Method**

In [35]:
data = data.set_index('CustomerID')
customer_income = customer_income.set_index('CustomerID')

In [36]:
 joined_data = data.join(customer_income)

ValueError: columns overlap but no suffix specified: Index(['AnnualIncome'], dtype='object')