In [1]:
!pip install pysqlite3

Collecting pysqlite3
  Using cached pysqlite3-0.5.2.tar.gz (40 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (pyproject.toml): started
  Building wheel for pysqlite3 (pyproject.toml): finished with status 'error'
Failed to build pysqlite3

  error: subprocess-exited-with-error

  Building wheel for pysqlite3 (pyproject.toml) did not run successfully.
  exit code: 1

  [12 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-311
  creating build\lib.win-amd64-cpython-311\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-311\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-311\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
ERROR: Could not build wheels for pysqlite3, which is required to install pyproject.toml-based projects

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

# Sample data resembling Customer Churn Modelling
data = pd.DataFrame({
    'RowNumber': [1, 2, 3, 4, 5],
    'CustomerId': [15634602, 15647311, 15619304, 15701354, 15737888],
    'Surname': ['Hargrave', 'Hill', 'Onio', 'Boni', 'Mitchell'],
    'CreditScore': [619, 608, 502, 699, 850],
    'Geography': ['France', 'Spain', 'France', 'France', 'Spain'],
    'Gender': ['Female', 'Female', 'Female', 'Female', 'Female'],
    'Age': [42, 41, 42, 39, 43],
    'Tenure': [2, 1, 8, 1, 2],
    'Balance': [0.00, 83807.86, 159660.80, 0.00, 125510.82],
    'NumOfProducts': [1, 1, 3, 2, 1],
    'HasCrCard': [1, 0, 1, 0, 1],
    'IsActiveMember': [1, 1, 0, 0, 1],
    'EstimatedSalary': [101348.88, 112542.58, 113931.57, 93826.63, 79084.10],
    'Exited': [1, 0, 1, 0, 0]
})

In [2]:
import sqlite3

# Connect to the SQLite database (this will create a new file'churn.db' if it doesn't exist)
conn=sqlite3.connect('churn.db')
# Create a cursor object to execute SQL commands
cursor=conn.cursor()
# Create the 'customer_churn' table
create_table_query='''
CREATE TABLE IF NOT EXISTS cutomer_churn(
RowNumber INTEGER PRIMARY KEY,
   CustomerId INTEGER,
   Surname TEXT,
   CreditScore INTEGER,
   Geography TEXT,
   Gender TEXT,
   Age INTEGER,
   Tenure INTEGER,
   Balance REAL,
   NumOfProducts INTEGER,
   HasCrCard INTEGER,
   IsActiveMember INTEGER,
   EstimatedSalary REAL,
   Exited INTEGER
 );
 '''

cursor.execute(create_table_query)
 # Commit the changes and close the cursor
conn.commit()

**Load Data into SQLite Database**

In [3]:
data.to_sql('customer_churn', conn, if_exists='append', index=False)

5

In [4]:
# Execute a query to select customers who exited
sql_query = 'SELECT DISTINCT * FROM customer_churn WHERE Exited = 1'

In [5]:
# Fetch the results
cursor.execute(sql_query)
results = cursor.fetchall()

In [6]:
# Convert the results to a DataFrame for better readability
results_df = pd.DataFrame(results, columns=data.columns)

# Print the results
results_df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,1,101348.88,1
1,3,15619304,Onio,502,France,Female,42,8,159660.8,3,1,0,113931.57,1

**Perform Data Manipulation and Analysis**
 Once the data is loaded into a DataFrame, you can use the same Pandas functions and methods discussed earlier to manipulate and analyze the data.
 
**Write Data Back to SQLite Database (optional)**
 If you want to write modified data back to the SQLite database, you can use
 the to_sql() method again.